#!/usr/bin/env python
PACKAGE = "franka_robothon_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("fake_mass", double_t, 0, "fake_mass", 0, 0, 2000) #grams
gen.add("offset_x", double_t, 0, "x offset from end effector", 0, -300, 300) #mm
gen.add("offset_y", double_t, 0, "y offeset from end effector", 0, -300, 300) #mm
gen.add("offset_z", double_t, 0, "z offset from end effector", 0, -300, 300)#mm

exit(gen.generate(PACKAGE, "dynamic_fake_mass", "fake_mass_param"))
